<div class="row">
  <div class="col-md-6 col-sm-12">
    <section class="form_rewiews">
      <form>
        <div class="form-group">
          <div class="row">
              <div class="col">
                {{input type="text" class="form-control form_elem" id="exampleFormControlInput1" value=userName }}
              </div>
          </div>
          <div class="row">
            <div class="col">
               {{input type="text" class="form-control form_elem form_message" rows="3" id="exampleFormControlTextarea1" value=userReview }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary form_elem send_message" onclick={{action 'addRecord'}} >Send feedback</button>
            </div>
          </div>
        </div>
    </form>
    </section>
  </div>
</div>
<div class="row">
  {{#each model as |review|}}
    <div class="col-md-6 col-sm-12">
        <section class="review">
          <h1>{{review.name}}</h1>
            <p>{{review.review}}</p>
          </section>
    </div>
  {{/each}}
</div>